.rvmrc
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/config/database.yml
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/nbproject/private/
.idea
*.swp
/coverage
config/newrelic.yml
coverage
*.tmproj
*.sw?
*.cache
*.log
*.pid
/spec/reports
/public/assets
.DS_Store
/test
screenshot.png
/public/uploads
/public/skroutz.xml
.ruby-gemset
.ruby-version
