<div class="all_articles">
  <% if @categories.present? %>
    <% @categories.each do |category| %>
      <% category.feeds.each do |feed| %>
        <% feed.articles.select{ |a| a.read_at == nil }.each do |article| %>
          <%= render partial: "shared/article", locals: { article: article } %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    All articles have been read. Congratulations!
  <% end %>
</div>