<div class="col-sm-4 sidebar">
  <h2>Sidebar Feeds</h2>
  <%= link_to "Read all articles", readall_path, class: "btn btn-primary", remote: true %>
  <%= link_to 'Fetch Articles', fetch_articles_feeds_path, class: "btn btn-primary" %>
  <br />
  <br />
  <div class="sidebar_content">
    <%= render partial: "pages/sidebar" %>
  </div>
</div>

<div class="col-sm-8 main">
  <h2>Articles</h2>
  <div class="tree_articles">
    <%= render partial: "pages/articles" %>
  </div>
</div>