<br />
<div class="col-sm-12 main">
  <div class="all_articles">
    <% if @articles.present? %>
      <% @articles.sort{ |article2, article1| article1.updated_at <=> article2.updated_at}.each do |article| %>
        <%= render partial: "shared/article", locals: { article: article } %>
      <% end %>
    <% else %>
      All articles have been read. Congratulations!
    <% end %>
  </div>
</div>